[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flask" = "==1.0.4"
"flask-sqlalchemy" = "*"
"flask-migrate" = "*"
"flask_httpauth" = "*"
"flask-cors" = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
"marshmallow" = "*"
"flask_marshmallow" = "*"
"marshmallow-sqlalchemy" = "*"
"bcrypt" = "*"
"itsdangerous" = "*"
"flask-principal" = "*"
sparkpost = "*"
sqlalchemy-utils = "*"
intervals = "*"
python-dateutil = "*"

[dev-packages]
"flask-testing" = "*"
"fixture" = "*"
pylint = "*"
pyflakes = "*"
pycodestyle = "*"
bandit = "*"

[requires]
python_version = "3.6"
